<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Leafground">

	<test name="Edit button">
		<classes>
			<class name="testcases.CommonLandingPage" />
		</classes>
	</test>

	<test name="Radio button">
		<classes>
			<class name="testcases.EditPage" />
		</classes>
	</test>

</suite>